<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h1>Guten Tag, lieber Videoflix Nutzer</h1>
<h2>Hallo {{ username }}</h2>
<div>Klicke <a href="https://videoflix.simon-esders.de/resetpassword?key={{ verification_code }}" target="_blank">hier</a> um
    dein Passwort zu ändern.
</div>
</body>
</html>

<style>
    :root {
        --red: #e50914;
        --red_hover: #c11119;
        --red_active: #99161d;
    }

    body {
        color: var(--red);
        font-family: 'Open Sans', sans-serif;
    }

</style>